{% extends "layout.html" %}
        {% block content %}
		
		<div class="cvProfile">
			<h2>Profile</h2>
			
			<p>I graduated from Edge Hill University in 2016 after completing an integrated master’s degree in software application development.<br>After leaving university I accepted a role as an Android developer and worked at the company for 4 months, developing and maintaining native Android applications.</p>
			<p>Precision Decisions then approached me with an enticing opportunity—a one-year contract to contribute to a government-funded innovation project. This project involved collaborating with one of the leading satellite data specialists in the UK. Our primary objective was to conduct a comprehensive feasibility study on utilizing remotely captured satellite data to assist farmers in detecting variability within their crop fields.</p>
			<p>In this influential role, I actively participated in an interdisciplinary team, merging expertise from agriculture and satellite data analysis. Through diligent research, data analysis, and close collaboration with the satellite data specialists, we embarked on a mission to explore the immense potential of satellite data for precision agriculture.</p>
			<p>This opportunity not only allowed me to contribute to a cutting-edge project but also offered invaluable exposure to the realm of satellite data analysis and its application in the agricultural domain. It reinforced my passion for leveraging technology to drive positive change and fuelled my desire to continue exploring innovative solutions within the agricultural sector.</p>
			<p>Upon the completion of my contract, Precision Decisions extended a full-time offer, entrusting me with the responsibility of developing an advanced system that would autonomously retrieve satellite data from the European Space Agency's Copernicus API. This data would then undergo a meticulous process of transformation and integration into our online mapping software. To achieve this, I utilised Python programming and harnessed the power of various geospatial libraries, including GDAL, NumPy, rasterio, and Shapely.</p>
			<p>In this role, I orchestrated a comprehensive workflow, encompassing essential tasks such as downloading the relevant data from the Copernicus API, implementing atmospheric correction techniques, applying cloud-masking algorithms, performing colour mapping, and precisely clipping the data to specific areas of interest. By leveraging my expertise in geospatial analysis, I successfully ensured that the processed data seamlessly integrated with our mapping software, delivering accurate and visually compelling results to our end users.</p>
			<p>Additionally, I developed numerous data ingestion pipelines designed to extract, transform, and load data from diverse sources. Leveraging the power of AWS technologies like Lambda, EventBridge, CloudWatch, and S3, I ensured efficient and reliable data flow throughout the system.</p>
			<p>My expertise extends to handling data in multiple formats, including CSV, Shapefile, Excel, XML, JSON, and GeoJSON.</p>
			<p>By leveraging AWS technologies and my proficiency in handling various data formats, I successfully facilitated the extraction, transformation, and loading of data, bolstering the organization's data-driven initiatives and enabling the utilization of valuable information from disparate sources.</p>
			<p>While my primary focus revolves around developing and maintaining Python scripts, I have also undertaken additional responsibilities in developing diverse applications for the company as and when needed. In such cases, I adeptly employed programming languages like C# and Java to create a range of applications to address specific requirements. These applications encompassed various platforms, including desktop, Android, and iOS.</p>
			<p>In addition to my proficiency in multiple programming languages, I am equally adept at navigating various operating systems. Over the past few years, I have gained experience working with Ubuntu, Windows, and Mac on my two laptops. Linux is my preferred system.</p>
			<p>I also have experience using GitHub, Bitbucket, Jira and Azure.</p>
		</div>
		
		<div class="cvEducation">
			<h2>Education</h2>
			
			<p><strong>2012-2016 Edge Hill University, Ormskirk:</strong><br>MCOMP, Software Application Development: First-Class Honours</p>
			<p><strong>2010-2012 Hugh Baird College, Liverpool:</strong><br>BTEC Extended Diploma for IT Practitioners - Level 3: Triple distinction D*D*D*</p>
			<p><strong>1997-2002 Manor High School, Liverpool:</strong><br>GCSEs: 6 including Maths and English</p>
		</div>
		
		<div class="cvEmployment">
			<h2>Previous Employment</h2>
			
			<p><strong>Precision Decisions Ltd &nbsp;&nbsp;&nbsp;&nbsp; November 2016 – Present</strong><br>Software Developer<br><strong>Duties:</strong></p>
			
			<ul>
				<li>Develop and maintain Python ETL scripts</li>
				<li>Build ingestion pipelines using AWS/Lambda/S3/EventBridge</li>
				<li>Setup and maintain remote Linux servers</li>
				<li>Developing Android and iOS (Xamarin) applications</li>
				<li>Managing the app store presence</li>
				<li>Liaising with clients</li>
			</ul>
			
			<p><strong>Footsqueek Ltd &nbsp;&nbsp;&nbsp;&nbsp; August 2016 – November 2016</strong><br>Android Developer<br><strong>Duties:</strong></p>
			
			<ul>
				<li>Developing native Android applications using Java</li>
				<li>Working alongside iOS developers</li>
				<li>Managing the app store presence</li>
				<li>Liaising with clients</li>
			</ul>
		
		</div>
		
{% endblock %}