{% extends "layout.html" %}
        {% block content %}
        
		<div class="aboutMe">
		
			<div class="aboutImage">
				<img src="./static/myPicRound.png" alt="Me" height="340" width="300"> 
			</div>
			
			<div class="contactInformation">
				<p><strong>Telephone:</strong> 07490347742</p>
				<p><strong>Email:</strong> louis_gilmartin@hotmail.co.uk</p>
				<p><strong>GitHub:</strong> https://github.com/logi-26</p>
				<p><strong>LinkedIn:</strong> https://www.linkedin.com/in/louis-gilmartin-43747734/</p>
			</div>
			
			<br>
			
			<h3>About Me:</h3>
			
			<p>I am a software developer with 7 years of commercial experience and 6 years in higher education.</p>
			<p>My educational journey began with a 2-year BTEC Extended Diploma as a Level 3 IT Practitioner, where I achieved a triple grade distinction. Subsequently, I completed a 4-year MCOMP integrated master's degree in Software Application Development, earning a first-degree with honors.</p>
			<p>For the past 7 years, I have been working for an Agri-Tech company, primarily focusing on developing backend Python code for data ingestion and task automation. Additionally, I have contributed to the development of desktop and mobile applications using Java and C#.</p>
			<p>Throughout my career, I have gained experience in using various technologies such as Docker, AWS Lambda, EventBridge, CloudWatch, Git, Jira, and Azure DevOps.</p>
			<p>While Python has been my primary language for daily work, I consider myself a polyglot and take pleasure in learning and utilizing different programming languages. I firmly believe that no single language suits every situation, and I enjoy exploring the benefits and drawbacks of diverse languages.</p>
			<p>I have commerical experience using the following languages:</p>
			
			<ul>
				<li>Python</li>
				<li>C#</li>
				<li>Java</li>
				<li>IDL</li>
				<li>MySQL</li>
			</ul>
			
			<p>I have none commerical experience using the following languages:</p>
			
			<ul>
				<li>C</li>
				<li>C++</li>
				<li>F#</li>
				<li>SQF</li>
				<li>HTML</li>
				<li>CSS</li>
			</ul>
		</div>
		
{% endblock %}